:80 {
#    route /nginx* {
#        uri replace /nginx /
#        reverse_proxy nginx
#    }

    route /app/* {
        uri strip_prefix /app
        reverse_proxy springboot:8080
    }
#    route /pgadmin {
#        uri strip_prefix /pgadmin
#        reverse_proxy pgadmin:8081
#    }

    # pg-admin ergänzen
}

#   lecturefaq.org:80 {
#       reverse_proxy springboot:8080
#   }